--- 
layout: home
title: Home Page 
---
<div class="container">
  <h3>Featured Posts</h3>
  <hr>
  <ul style="list-style-position: inside">
    <div class="row featured">
      {% for featured_post in site.featured %}
      <li>
        <section class="col l3 m6 s12">
          <div class="card z-depth-2">
            <div class="card-image">
              <a href="#" class="scale">
                <div class="img img-scale">
                  <img src={{featured_post.img}} alt="infinite" class="z-depth-2">
                </div>
              </a>
              <span class="card-title tag">video</span>
            </div>
            <div class="card-content">
              <span class="feat-date">{{ featured_post.date | date: "%d %B %Y" }}</span>
              <a href="#">
                <a href="{{ featured_post.url }}"><h5>{{ featured_post.title }}</h5></a>
              </a>
              <p>Check out the second trailer for Capcom's newly announced entry in the historic Marvel fighting game series.</p>
            </div>
            <a class="cont" href="#"><span>Continue</span><i class="fa fa-chevron-right"></i></a>
          </div>
        </section>
      </li>
      {% endfor %}
    </div>
  </ul>


  <!-- start main loop -->
  <div class="row">
    <div class="col l9 m12">
      <h3>Latest Posts</h3>
      <hr>
      <ul style="list-style-position: inside">
        {% for post in site.posts %}
        <li>
          <div class="card horizontal post-preview">
            <div class="card-image img img-scale">
              <img src="{{post.img}}" alt="post.img_alt">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="feat-date">{{ post.date | date: "%d %B %Y" }}</span>
                <a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
                <p>{{post.excerpt}}</p>
              </div>
              <a href="{{post.url}}" class="cont">
                  <span>continue</span><i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div> 
</div>
 
