<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12 white-text">
        <div class="footer-head"><span>About Justice Arcade</span>
          <hr>
        </div>
        <p>From your daily dose of fighting game news, to matchmaking forums, strategy guides, and more, SRK (Shoryuken) is home to the biggest community of fighting game players and enthusiasts.</p>
      </div>

      <div class="col l4 s12 white-text">
        <div class="footer-head"><span>Contact Us</span>
          <hr>
        </div>
        <p>If you would like to suggest an article, or simply tell us how awesome we are then now's your chance! We appreciate all feedback. Contact Us or Submit a Tip</p>
      </div>

      <div class="col l4 s12 white-text">
        <div class="footer-head"><span>Email Newsletter Coming Soon</span>
          <hr>
        </div>
        <p>Top fighting game headlines delivered straight to your inbox.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2017 Justice Arcade</div>
  </div>
</footer>
